
$brand-primary:         #1d7aa2;
$brand-success:         #66c2b2;
$brand-info:            #CEE6EC;
$brand-warning:         #f0ad4e;
$brand-danger:          #ee706c;

$white: #fff;
$gray-light: #777;
$gray-lighter: #eee;

$pagination-color: $gray-light;
$pagination-active-bg: $gray-lighter;
$pagination-active-border: $gray-lighter;
$pagination-active-color: $gray-light;

$border-radius-base: 3px;

$state-success-bg: $brand-success;
$state-success-border: $brand-success;
$alert-success-text: $white;

$navbar-inverse-bg: $brand-primary;
$navbar-height: 66px;
$navbar-inverse-link-color: $white;

// new brand color "yellow"
$brand-yellow: #f5ffc1;
$btn-yellow-color: #333333;

$brand-twitter: #0091e6;
$brand-facebook: #3d56ab;

@import "node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

.btn-yellow {
    @include button-variant($btn-yellow-color, $brand-yellow, $brand-yellow);
}

.btn-twitter {
    @include button-variant($white, $brand-twitter, $brand-twitter);
}

.btn-facebook {
    @include button-variant($white, $brand-facebook, $brand-facebook);
}

// custom box shadow for buttons
.btn-danger{
    box-shadow:0 2px 0 0 darken($brand-danger,15%);
}
.btn-success{
    box-shadow:0 2px 0 0 darken($brand-success,15%);
}
.btn-primary{
    box-shadow:0 2px 0 0 darken($brand-primary,15%);
}

.btn{
    font-family:Arimo;
    font-size:14px;
}

.header-title{
    min-height: 64px;
    padding: 20px 0;
    background:#f6f6f6;
    margin-bottom: 32px;
    h4 {
        font-family:Arimo;
        font-size:22px;
        margin: 0px;
        color:#333333;
        font-weight: bold;
    }
    .breadcrumb{
        margin: 0;
        padding: 0;
    }
}

// navbar
.navbar{
    .btn-secondary{
        box-shadow:0 2px 1px 0 rgba(89,89,89,0.50);
    }
    .navbar-brand{
        font-size: 20px;
        img{
            width: 20px;
        }
    }
    .navbar-btn {
        font-weight: 700;
        box-shadow:0 2px 1px 0 rgba(89,89,89,0.50);
    }
}

// posts
.post{
    margin-bottom: 44px;
    h2{
        color:#1d7aa2;
        font-size: 22px;
        font-weight: bold;
        margin: 0 0 2rem 0;
    }
    .read-more{
        font-size:14px;
        color:#1d7aa2;
    }
    .info{
        .time{
            font-family:Arimo;
            font-size:14px;
            margin-bottom: 14px;
            color: $gray-light;
        }
        .status{
            font-size:12px;
            color:$gray-light;
        }
        .author{
            margin-bottom: 8px;

            img{
                width:48px;
                height:48px;
                border-radius:100%;
            }
        }
    }
}

.news-view{
    margin-bottom: 30px; 
}

body{
    padding-top: 67px; // because of navbar
}

html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -40px;
    padding: 0 0 40px;
}

footer {
    height: 40px;
    font-size:13px;
    border-top: 1px solid #ddd;
    background: $white;
    padding-top: 10px;
}

// pagination
.pagination li{
    &.active{
        a{
            box-shadow:0 1px 1px 0 rgba(89,89,89,0.50);
            font-weight: bold;
        }
    }
    span{
        margin: 0 5px 0 0;
        border-radius: 3px !important;
    }
    a{
        font-size: 13px;
        margin-right: 5px;
        border-radius: 3px;
        &:hover {
            background: $gray-lighter;
            border-color: $gray-lighter;
            color:$gray-light;
            box-shadow:0 1px 1px 0 rgba(89,89,89,0.50);
        }
    }
}


/* Markdown Editor */
.CodeMirror {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 6px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.CodeMirror-buttonsPanel {
    margin-bottom: 0.4em;
    button {
        margin-right: 0.4em;
        padding: 6px 11px;
        font-size: 10px;
        font-weight:bold;
    }
}

// add state for custom text editor
.has-error{
    .CodeMirror {
        border:1px solid #a94442;
    }
}

.has-success{
    .CodeMirror {
        border:1px solid #3c763d;
    }
}

// custom material style tabs on news admin
.material-tabs {
    margin: 0 auto;
    margin-top: 26px;
    font-size:15px;
    border-bottom:1px solid #DDD;
    margin-bottom: 38px;
    > li > a:focus, 
    > li > a:hover {
        background: transparent;
        outline: 0;
    }
    >li.active>a,
    >li.active>a:focus, 
    >li.active>a:hover,
    >li.active>a:active {
        background: transparent;
        color: #333;
        font-weight: bold;
        cursor: default;
        border: 0;
    }
    >li>a {
        position: relative;
        color: #444;
        border: 0px;
        padding: 13px 15px 13px 15px;
    }
    >li >a:hover {
        color: #393939;
        background: transparent;
    }
    >li.active>a:after {
        display: block;
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;    
        width: 100%;
        height: 4px;
        background: #1d7aa2;
    }
}

// users table
.table-striped{
    font-size: 13px;
    thead > tr {
        background: #f9f9f9;
        border: 1px solid #dddddd;
        th, th a{
            font-size:13px;
            color:$gray-light;
            font-weight: bold;
        }
    }
    tbody > tr {
        &:nth-of-type(odd){
            background: $white;
        }
        &:nth-of-type(even){
        background: #f9f9f9;
        }
        img{
            border-radius:100%;
        }
    }
}

// users summary
.grid-view{
    .summary{
        font-size:14px;
        color:$gray-light;
        margin-bottom: 13px;
    }
}   

// navbar username bolded
.bolded{
    font-weight: bold;
}

// comments admin section
.author{
    img{
        width:48px;
        height:48px;
        border-radius:100%;
    }
}
.well{
    background:#f9f9f9;
    box-shadow:0 1px 1px 0 rgba(197,197,197,0.50);
    border-radius:3px;
}

// comments on news
h1.comment-count{
    font-weight:bold;
    font-size:19px;
    margin-bottom:30px;
}

.comments{
    padding: 0px;
    margin-bottom: 20px;
    li {
        list-style: none;
        margin-bottom: 20px;
        .author{
            font-size: 13px;
            img{
                width:30px;
                height:30px;
                border-radius:100%;
                margin-right: 10px;
            }
        }
        .date{
            font-size: 12px;
            color:$gray-light;
        }
        .text{
            margin-top: 20px;
        }
    }
}

// profile page
.profile{
    img{
        border-radius:100px;
        width:130px;
        height:130px;
    }
    h2{
        font-size:22px;
        font-weight: bold;
        color:#333333;
        margin: 15px 0 20px 0; 
    }
    a.github-link{
        font-size:18px; 
        display: block;
        margin-bottom: 14px;
        font-weight: normal;
    }
}

// about page
.about-border{
    background:url(../images/border.png);
    height: 2px;
    margin:43px 2rem;
}

.push-top{
    margin-top:40px; 
}   

.about{
    h1{
        font-weight:30px;
        margin-bottom:22px;
        font-weight:normal;
    }
    .sub{
        font-weight: normal;
        font-size:20px;
        margin-bottom:24px;
    }
    h2{
        font-size:22px;
        font-weight:normal;
        margin-bottom:20px;
    }
}

// login and signup
.site-login, .site-signup{
    margin-top:40px;
    h2{
        margin-bottom: 25px;
        font-size: 20px;
        font-weight: bold;
    }
    .breadcrumb{
        background:none;
        padding-left:0;
    }
}

.github-background{
    position: fixed;
    top: 0px;
    left: 50%;
    width: 50%;
    height: 100%;
    background:#f6f6f6;
    box-shadow:   inset 0 0 10px #CCC;
    z-index: -99;
    .arrow{
        background:url('../images/arrow.png');
        width:13px;
        height:21px;
        top: 160px;
        position: absolute;
    }
}

.github-side{
    margin-top: 40px;
    h3{
        font-weight:bold;
        font-size:18px;
    }
    .text-muted{
        font-size:16px;
        font-weight:bold;
        margin-top:24px;
    }
}

// Mobile optimizations
@media (max-width: 767px) {
    .navbar{
        .navbar-btn{
            width: 100%;
        }
        .navbar-form{
            margin:0;
        }
        .navbar-nav{
            margin-top:0px;
        }
    }
    .news-index{
        .info{
            min-height: 48px;
            margin-bottom: 20px;
            .time{
                float: right;
                padding-top: 10px;
            }
            .status{
                font-size:12px;
                color:$gray-light;
            }
            .author{
                float: left;
                margin-right: 20px;
            }
            .twitter-handle{
                padding-top: 10px;
            }
        }
        .comment{
            padding-bottom:20px;
            display: table;
            margin: 0px;
            width: 100%;

            .info{
                display: table-header-group;
            }
            
            .details{
                display: table-row-group;
                margin:0 10px;
            }

            .text{
                margin-top:20px;
                display: table-footer-group;
            }
            
            
        }
    }
    
    .post{
        .info{
            min-height: 48px;
            margin-bottom: 20px;
            .time{
                float: right;
                padding-top: 10px;
            }
            .status{
                font-size:12px;
                color:$gray-light;
            }
            .author{
                float: left;
                margin-right: 20px;
            }
            .twitter-handle{
                padding-top: 10px;
            }
        }
    }
    .center-pagination{
        text-align: center;
        .pagination{
            a, span {
                padding: 1rem 1.5rem;
                font-size: 1.5rem;
                line-height: 1;
            }
        }
    }
    .github-background{
        display: none;
    }
    .site-login, .site-signup{
        margin: 20px;
    }
    footer{
        p{
            width: 100%;
            float: initial !important;
            text-align: center;
        }
    }
}


@media (max-width: 767px) {
    .comment{
        padding-bottom:20px;
        display: table;
        margin: 0px;
        width: 100%;

        .info{
            display: table-header-group;
        }
        
        .details{
            display: table-row-group;
            margin:0 10px;
        }
        .text{
            margin-top:20px;
            display: table-footer-group;
        }
    }
}